    <%- include('templates/header') -%>
    
    <div class="container" id="root">
    </div>


    <%- include('templates/footer') -%>
    <script src="/app.js"></script>
   </footer>
  </body>
  
</html>

