<%- include('templates/header') -%>

<div class="container">
    <div class="row">
        
    </div>
</div>


<%- include('templates/footer') -%>
<script src="/bundle.js"></script>
</footer>
</body>

</html>
